.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
}

.schoolForm {
  display: flex;
  flex-direction: column;
  height: 1120px;
  padding: 20px;
  background-color: #f9f9f9;
}

.container h2 {
  margin: 5px;
}
.formGroup {
  margin-bottom: 1rem;
}

.container label {
  font-weight: bold;
  color: black;
}

.container input[type="text"],
.container input[type="date"],
.container input[type="tel"],
.container input[type="email"],
.container select,
.container textarea {
  width: 100%;
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}
.checkboxItems {
  display: flex;
  flex-wrap: wrap;
}
.checkboxItems div {
  margin-top: 5px;
}
.payment {
  margin-top: 20px;
}
.checkboxItems input {
  scale: 1.5;
  margin: 7px;
  cursor: pointer;
}

.container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;
}

.container button:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 650px) {
  .schoolForm {
    display: flex;
    flex-direction: column;
    height: 1170px;
    padding: 20px;
    background-color: #f9f9f9;
  }
}
@media screen and (max-width: 450px) {
  .schoolForm {
    display: flex;
    flex-direction: column;
    height: 1240px;
    padding: 20px;
    background-color: #f9f9f9;
  }
}
