.eachStudent {
  min-height: 100vh;
}
.selectContainer {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  width: 100%;
}
.selectContainer button {
  background-color: rgb(43, 201, 43);
  padding: 10px 20px;
  cursor: pointer;
  margin: 20px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 20px;
}
.selectContainer select {
  margin: 5px 15px;
  outline: none;
  cursor: pointer;
  height: 40px;
  width: 250px;
  border-radius: 10px;
  font-size: 20px;
  background-color: var(--color-primary-variant);
  color: var(--color-white);
  text-align: center;
}
.selectContainer select option {
  background-color: var(--color-bg-deep);
  color: var(--color-white);
  font-size: 20px;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .createdDate {
    display: none;
  }
  .result {
    width: 100vw;
  }
  .selectContainer {
    flex-direction: column;
  }
}
@media print {
  .selectContainer {
    display: none;
  }
}
