.container {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container form {
  margin: auto;
  background-color: var(--color-bg-deep);
  border-radius: 15px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  width: 400px;
  color: var(--color-white);
  padding: 20px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.link-container {
  display: flex;
  color: var(--color-white);
  font-size: 15px;
  text-decoration: none;
  margin-bottom: 20px;
  justify-content: center;
}
.link {
  color: var(--color-primary);
}
.container h2 {
  text-align: center;
  color: var(--color-whitey);
  margin: 0;
}
.btnContainer {
  text-align: center;
}
.container form button {
  width: 90%;
  height: 40px;
  border: none;
  text-align: center;
  background: var(--color-bg-deep);
  color: white;
  border-radius: 10px;
  border: 3px solid var(--color-primary-variant);
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 15px;
  transition: all 0.5s ease-in-out;
}
.container form button:hover {
  background-color: var(--color-primary);
  color: var(--color-bg);
}
.container form .disabled {
  cursor: not-allowed;
  background-color: var(--color-fade);
}
.container form .disabled:hover {
  background-color: var(--color-fade);
}
.container p {
  text-align: center;
}
.allInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.allInput label {
  font-size: 20px;
  display: flex;
  align-self: self-start;
  color: var(--color-light);
}
.allInput span {
  width: 100%;
  font-size: 15px;
  display: none;
  color: red;
}
input.focused:invalid {
  border: 1px solid red;
}

input.focused:invalid ~ span {
  font-size: large;
  display: block;
}
.error {
  color: red;
  text-align: center;
  font-size: 1.5em;
  width: 70%;
  margin: auto;
}
.container form .disable {
  cursor: not-allowed;
}
@media screen and (max-width: 700px) {
  .container form {
    width: 300px;
  }
}
