.allUser {
  overflow-x: hidden;
}
.tableContainer {
  overflow-x: auto;
  width: 100%;
}
.allUser table {
  width: 95%;
  margin: auto;
  border: 2px solid black;
  border-collapse: collapse; /* Added this line */
}

.allUser h1 {
  margin: 15px 5px;
  text-align: center;
}

.allUser tbody input[type="text"] {
  width: 100%;
  height: 30px;
  font-size: 20px;
  font-weight: bold;
}
.allUser tbody td {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.userImg {
  object-fit: cover;
  border-radius: 50%;
}
.allUser button {
  cursor: pointer;
  background-color: var(--color-primary);
  font-size: 1.1em;
  margin: 0 5%;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 8px;
}
.allUser button:active {
  background-color: rgb(8, 241, 8);
}
.allUser .link {
  text-decoration: none;
  color: black;
}

.allUser table thead tr th {
  background-color: var(--color-primary);
  color: black;
  margin-bottom: 20px;
  padding: 3px;
  padding-bottom: 10px;
}
.allUser table th,
.allUser table td {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  border: 2px solid var(--color-primary);
}
/* Submission Styles starts */
.submission ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 70px;
}
.submission h1 {
  text-align: center;
}
.submission ul h3 {
  text-transform: capitalize;
}

.submission .submitAllButtonContainer {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.3);
  padding: 0.7rem 1.7rem;
  border-radius: 3rem;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
.submission .submitAllButtonContainer button {
  border: none;
  background: var(--color-bg-deep);
  color: white;
  border-radius: 15px;
  border: 3px solid var(--color-primary-variant);
  font-weight: bold;
  font-size: 15px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.submission .submitAllButtonContainer button.active {
  background: var(--color-primary);
  color: var(--color-bg);
}

.btnContainer button:hover {
  background-color: var(--color-primary);
  color: var(--color-bg);
}

.btnContainer .disabled {
  cursor: not-allowed;
  background-color: var(--color-fade);
}
.btnContainer .disabled:hover {
  background-color: var(--color-fade);
}

.submission li {
  list-style: none;
  margin-bottom: 10px;
}

.submission ul .eachSubmission {
  background-color: white;
  width: 430px;
  border-radius: 20px;
  padding: 15px;
  color: black;
  margin: 5px;
}

.eachSubmission .actions {
  text-align: center;
  background-color: white;
}
.eachSubmission .actions button {
  background-color: crimson;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 20px;
  color: white;
  border-radius: 20px;
  margin: 5px;
}
.eachSubmission .actions input {
  font-size: 20px;
  border: 1px solid gray;
  width: 100px;
  outline: none;
  padding: 3px;
  margin: 3px;
}

/* zoom in and zoom out start */

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  position: relative;
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  max-width: 90vw;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scrollableContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.zoomImage {
  transition: transform 0.3s ease;
  cursor: grab;
}

.zoomControls {
  position: fixed;
  bottom: 20px;
  display: flex;
  gap: 10px;
  z-index: 1001;
}

.zoomControls button {
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}

/* zoom in and zoom out end */

.submission .imageGallery .imageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.submission .imageGallery .imageContainer .assignmentImage {
  cursor: pointer;
  margin: 1px;
}
.submission .imageGallery p {
  text-align: center;
  margin-bottom: 5px;
}

@media screen and (max-width: 600px) {
  .teacherTask form {
    width: 90vw;
  }
  .submission ul .eachSubmission {
    width: 90vw;
  }
}
@media screen and (max-width: 900px) {
  .createdDate {
    display: none;
  }
  .allUser {
    width: 100vw;
  }
}
