.printoutContainer {
  background-color: blue;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.reportCard {
  width: 215mm;
  height: 279mm; /* A4 height */
  padding: 4mm;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  color: black;
}

.reportCard .table td {
  font-size: 13px;
  font-weight: bold;
}
.watermark {
  opacity: 0.06;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.reportCard h4 {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}
.performanceh4 {
  text-align: center;
  margin-top: 40px;
  margin-right: 60px;
}
.reportCard p {
  font-size: 13px;
  font-weight: bold;
}
.reportCard span {
  font-size: 13px;
  font-weight: bold;
}
.header {
  height: 110px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
}
.header .logo {
  margin-left: 25px;
}
.header .headerContents {
  margin-left: 80px;
}
.headerContents h4:first-child {
  font-size: 27px;
  color: navy;
}
.headerContents h4:last-child {
  margin-bottom: 10px;
}

.header .term {
  margin-top: 12px;
}

.headerContents {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.headerContents p {
  text-align: center;
}
.studentInfo {
  display: flex;
  height: 120px;
  padding: 0 10px;
}

.Info1,
.Info2,
.Info3 {
  flex: 1;
  margin: 0 5px;
}
.Info1 h4:first-child,
.Info2 h4:first-child,
.Info3 h4:first-child {
  margin: 3px 0;
}
.Info2 table {
  width: 250px;
}
.Info3 span {
  font-size: 12px;
  margin: 5px;
}
.Info3 table {
  margin-bottom: 5px;
}
.Info3 span::first-letter {
  text-transform: uppercase;
}
.Info3 p h4 {
  display: inline-block;
  margin-right: 10px;
}

.grades {
  margin: 20px 0;
}
.table {
  border-collapse: collapse;
  width: 100%;
}
.reportCard .table th {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.table,
.table th,
.table td {
  border: 1px solid black;
}

.grades .table th {
  max-width: 50px;
  padding: 0, 1px;
}
.reportCard table td {
  padding-left: 8px;
}

.table th {
  background-color: #f2f2f2;
}

.effectiveTriats {
  display: flex;
  justify-content: space-between;
}
.effectiveTriats table:nth-of-type(2) {
  margin: 0 10px;
}

.effectiveTriats table {
  flex: 1;
}
.effectiveTriats td {
  padding-left: 8px;
}

.footer {
  margin-top: 30px;
  border: 1px solid black;
}
.footer div p {
  display: flex;
  align-items: start;
  margin: 5px;
  border-bottom: 1px solid black;
}
.footer div span::first-letter {
  text-transform: uppercase;
}
.footer div p h4 {
  min-width: 300px;
  display: inline-block;
}

.printButton {
  text-align: center;
  padding-bottom: 30px;
  background-color: blue;
}

.printButton button {
  background-color: rgb(43, 201, 43);
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 20px;
}

.printButton button:active {
  background-color: rgb(122, 182, 122);
  padding: 15px 25px;
  cursor: pointer;
  border-radius: 20px;
}

@media print {
  .reportCard {
    box-shadow: none;
    /* page-break-after: always; */
  }
  .printButton {
    display: none;
  }
}
