.result {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-result-variant);
  min-height: 100%;
  /* 
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-bg-deep);
  width: 100%; */
}

.tableContainer {
  overflow-x: auto;
  width: 100%;
  padding: 0 70px;
}
.tableContainer h2 {
  text-align: center;
}
.selectContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 3px auto;
  justify-content: center;
}

.result select {
  margin: 5px;
  outline: none;
  cursor: pointer;
  width: 400px;
  height: 50px;
  border-radius: 10px;
  background-color: var(--color-primary-variant);
  font-size: 20px;
  color: var(--color-white);
  padding: 5px;
  margin-top: 10px;
  padding-left: 8px;
}

.result select option {
  background-color: var(--color-bg);
  color: var(--color-white);
  border: 1px solid gray;
  font-size: 25px;
  cursor: pointer;
}
.result table {
  width: 100%;
  margin: auto;
  border: 2px solid black;
  border-collapse: collapse; /* Added this line */
}

.result table td {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border: 2px solid var(--color-primary); /* Ensure consistent border for all cells */
}

.result table thead tr th {
  background-color: var(--color-primary);
  color: black;
  margin-bottom: 20px;
  padding: 5px;
  border: 2px solid var(--color-bg-deep); /* Ensure consistent border for all cells */
  padding-bottom: 10px;
  font-size: 22px;
  font-weight: bold;
}

.result button {
  cursor: pointer;
  background-color: var(--color-result);
  margin: 0 5%;
  background-color: var(--color-primary);
  border-radius: 10px;
  padding: 3px 5px;
  border: none;
}
.result button {
  cursor: pointer;
  background-color: var(--color-result);
  margin: 0 5%;
  background-color: var(--color-primary);
  border-radius: 10px;
  padding: 3px 5px;
  border: none;
}
.result button:active {
  background-color: rgb(8, 241, 8);
}

.container .disabled {
  cursor: not-allowed;
  background-color: var(--color-fade);
}
.container .disabled:hover {
  background-color: var(--color-fade);
}
.result .link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.container .tableContainer {
  width: 100%;
  overflow-x: auto;
}

.container .tableContainer h2 {
  margin: 10px;
  margin-bottom: 30px;
  color: black;
}

.container .table th {
  background-color: black;
  color: white;
}
.result h1 {
  margin: 15px 5px;
  text-align: center;
}

.result tbody input[type="text"] {
  width: 100%;
  height: 30px;
  font-size: 20px;
  font-weight: bold;
}
.result tbody td {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
}
.studentRemark {
  background-color: var(--color-bg-deep);
  width: 1000px;
  padding: 15px;
  border-radius: 20px;
  max-width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.flex {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.studentRemark .div1,
.studentRemark .div2 {
  width: 300px;
}

.studentRemark div h3 {
  margin: 10px 0;
}
.studentRemark h2 {
  margin-bottom: 20px;
}
.studentRemark textarea,
.studentRemark input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
  font-size: 15px;
  font-weight: bold;
  outline: none;
  padding-left: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.studentRemark button,
.result button {
  margin: 10px;
  height: 50px;
  border: none;
  outline: none;
  background: var(--color-primary);
  color: black;
  border-radius: 10px;
  border: 3px solid var(--color-primary-variant);
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  padding: 0 15px;
}

.selectContainer button:hover {
  background-color: var(--color-primary);
  color: var(--color-bg);
}
.selectContainer .selectContainer b .disabled {
  cursor: not-allowed;
  background-color: var(--color-fade);
}
.selectContainer .disabled:hover {
  background-color: var(--color-fade);
  cursor: not-allowed;
}

@media screen and (max-width: 900px) {
  .studentRemark {
    width: 310px;
  }
  .tableContainer {
    padding: 0 10px;
  }
  .result select {
    width: 200px;
    font-size: 15px;
  }
  .studentRemark .div1,
  .studentRemark .div2 {
    width: 100%;
  }

  .flex {
    flex-direction: column;
  }
}
