.allSchool {
  overflow-x: hidden;
  width: calc(100vw - 260px);
}
.tableContainer {
  overflow-x: auto;
  width: 100%;
}
.allSchool table {
  margin: auto;
  border: 2px solid black;
  border-collapse: collapse;
  width: 100%;
}
.allSchool table thead tr th {
  background-color: var(--color-primary);
  color: black;
  margin-bottom: 20px;
  padding: 3px;
  padding-bottom: 10px;
}
.allSchool table th,
.allSchool table td {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  border: 2px solid var(--color-primary);
}

.allSchool tbody td {
  font-weight: bold;
  text-align: center;
}

.allSchool h1 {
  margin: 15px 5px;
  text-align: center;
}
.userImg {
  object-fit: cover;
  border-radius: 50%;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
}

.schoolForm {
  display: flex;
  flex-direction: column;
  height: 600px;
  padding: 20px;
  background-color: #f9f9f9;
}

.formGroup {
  margin-bottom: 1rem;
}

.container label {
  font-weight: bold;
  color: black;
}

.container input[type="text"],
.container input[type="email"],
.container input[type="tel"],
.container textarea {
  width: 100%;
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.allSchool button {
  cursor: pointer;
  background-color: var(--color-primary);
  font-size: 1.1em;
  margin: 0 5%;
  background-color: lightgreen;
  border-radius: 10px;
  padding: 5px 10px;
  border: none;
  margin: 10px;
}
.allSchool .delete {
  background-color: crimson;
  color: white;
}
.allSchool .link {
  text-decoration: none;
}

@media screen and (max-width: 900px) {
  .createdDate {
    display: none;
  }
  .allSchool {
    width: 100vw;
  }
}
