.header {
  position: fixed;
  width: 100vw;
  overflow-x: hidden;
  z-index: 400;
  background-color: black;
}
.listContainer {
  display: flex;
  justify-content: space-around;
  top: 0;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 60px;
}
.listContainer li {
  list-style: none;
}

.listContainer li .nav {
  color: white;
  text-decoration: none;
  padding: 5px;
  display: flex;
  cursor: pointer;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.listContainer li .icon {
  font-size: 40px;
  margin-right: 3px;
  color: var(--color-bg-deep);
  transition: all 0.5s ease-in-out;
  color: var(--color-primary);
}

.listContainer li span {
  font-size: 1.2em;
}

.listContainer li .nav:hover {
  background-color: var(--color-primary-variant);
}
.listContainer li .active {
  background-color: var(--color-bg);
  color: var(--color-primary);
  border-bottom: 4px solid var(--color-primary-variant);
}

@media screen and (max-width: 900px) {
  .listContainer li span {
    font-size: 1em;
  }
  .listContainer li .icon {
    font-size: 30px;
  }
}
@media screen and (max-width: 700px) {
  .listContainer li span {
    font-size: 0.8em;
  }
  .listContainer li .icon {
    display: none;
  }
}
