.result {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-result-variant);
  min-height: 100vh;
}

.tableContainer {
  overflow-x: auto;
  width: 100%;
}
.selectContainer {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.selectContainer button {
  background-color: rgb(43, 201, 43);
  padding: 10px 20px;
  cursor: pointer;
  margin: 20px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 20px;
}
.selectContainer select {
  margin: 5px 15px;
  outline: none;
  cursor: pointer;
  height: 40px;
  width: 300px;
  border-radius: 10px;
  font-size: 20px;
  background-color: var(--color-primary);
  text-align: center;
}
.selectContainer select option {
  background-color: var(--color-bg);
  color: var(--color-white);
  font-size: 20px;
  text-align: center;
}
.result table {
  width: 95%;
  margin: auto;
  border: 2px solid black;
  border-collapse: collapse; /* Added this line */
}
.result table td {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border: 2px solid var(--color-primary); /* Ensure consistent border for all cells */
}

.result table thead tr th {
  background-color: var(--color-primary);
  color: black;
  margin-bottom: 20px;
  padding: 5px;
  border: 2px solid var(--color-bg-deep); /* Ensure consistent border for all cells */
  padding-bottom: 10px;
  font-size: 22px;
  font-weight: bold;
}

.result h1 {
  margin: 15px 5px;
  text-align: center;
}

.result table thead tr {
  font-size: 22px;
  font-weight: bold;
  text-align: left;
}
.result tbody input[type="text"] {
  width: 100%;
  height: 30px;
  font-size: 20px;
  font-weight: bold;
}
.result .linktd {
  height: 60px;
}
.result button {
  margin: 10px;
  height: 50px;
  border: none;
  outline: none;
  background: var(--color-primary);
  color: black;
  border-radius: 10px;
  border: 3px solid var(--color-primary-variant);
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  padding: 0 15px;
}
.result button:active {
  background-color: rgb(8, 241, 8);
}

.result .link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

@media screen and (max-width: 900px) {
  .createdDate {
    display: none;
  }
  .result {
    width: 100vw;
  }

  .selectContainer {
    flex-direction: column;
  }

  .selectContainer select {
    width: 250px;
    font-size: 20px;
  }
}
@media print {
  .selectContainer {
    display: none;
  }
}
