.printoutContainer {
  background-color: blue;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.Container .selectContainer {
  text-align: center;
}
.Container select {
  margin: 15px;
  outline: none;
  cursor: pointer;
  height: 50px;
  width: 300px;
  border-radius: 10px;
  font-size: 20px;
  background-color: var(--color-primary-variant);
  color: var(--color-white);
  text-align: center;
}
.Container select option {
  background-color: var(--color-bg);
  color: var(--color-white);
  border: 1px solid gray;
  font-size: 25px;
  text-align: center;
}

.reportCard {
  width: 210mm;
  min-height: 297mm;
  padding: 6mm;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  color: black;
  page-break-inside: avoid;
  margin-bottom: 20px;
}
.reportCard .wrapper {
  display: flex;
}
.reportCard h2 {
  text-align: center;
  margin-bottom: 20px;
}
.reportCard .div1,
.reportCard .div2 {
  flex: 1;
}
.reportCard .div1 {
  border-right: 2px solid black;
}
.reportCard .div1 div,
.reportCard .div2 div {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.reportCard .div1 h4,
.reportCard .div2 h4 {
  font-size: 16px;
}
.reportCard .div1 h5,
.reportCard .div2 h5 {
  font-size: 12px;
}
.reportCard .div1 span p,
.reportCard .div2 span p,
.reportCard .div1 span h4,
.reportCard .div2 span h4 {
  text-align: center;
}
.printButton {
  text-align: center;
  margin: 10px;
}
.printButton button {
  background-color: rgb(43, 201, 43);
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  border-radius: 20px;
}
.printButton button:active {
  padding: 15px 25px;
}

@media print {
  .reportCard {
    box-shadow: none;
    /* page-break-after: always; */
  }
  .printButton {
    display: none;
  }
}
